.banner {
  width: 90%;
  height: 68vh;
  background-image: url("../images/quran1.jpg");
  background-size: cover;
  background-position: 0px -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 15px;
  backdrop-filter: brightness(80%);
}

.banner > h1 {
  position: absolute;
  max-width: 500px;
  text-align: center;
  font-size: 44px;
  line-height: 3.75rem;
  color: #f9f9f9;
  text-shadow: 0 0 15px #000;
}
