.dropdown {
  position: absolute;
  top: 55px;
  right: 0px;
  display: none;
}

.dropdown li {
  background-color: #fbfffff8;
  border: 1px solid #8b8b8b6c;
  font-size: 14px;
  padding: 6px 20px;
  border-radius: 2px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #7367f0;
  color: #fff;
  transition: 0.3s;
}
