.side-bar {
  transition: 0.5s ease;
}

.side-bar .logo {
  margin-bottom: 10px;
}

.sidebar-container {
  width: 360px;
  background-color: #fff;
  height: 100vh;
  padding: 1.35rem 10px 1.35rem 20px;
  transition: 0.5s ease;
  display: flex;
}

.menu {
  width: 20px;
  cursor: pointer;
  align-self: flex-start;
  margin-left: auto;
}

@media (max-width: 768px) {
  .sidebar-container {
    width: 290px;
    position: absolute;
    justify-content: center;
    padding-top: 1.35rem;
    top: 0;
    left: -10px;
    z-index: 2;
  }
}
