.stats {
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  box-shadow: 0 0 20px #ddd;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  /* .stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
    gap: 20px;
  } */
}
