.title-sect {
  width: 100%;
  padding: 1.2rem 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #ffff;
  font-weight: 500;
  line-height: 1.2;
  color: #5e5873;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px #ddd;
}

.title-sect > button {
  background-color: #4b4b4b;
  color: #fff;
  padding: 0.786rem 1.5rem;
  font-size: 1rem;
  line-height: 1;
  border-radius: 0.358rem;
}
