.navbar {
  padding: 6px 40px;
  box-shadow: 0 0 15px #bbb;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000;
}

.nav-logo > img {
  width: 40px;
}

.nav-logo > h1 {
  font-weight: 600;
}

nav > ul {
  display: flex;
  gap: 20px;
}

li {
  list-style: none;
}

nav > ul > li > a {
  color: #000;
}

nav > ul > li:hover {
  transform: translateY(-2px);
  transition: 0.4s;
}

.login-link {
  color: #7367f0;
}

@media (max-width: 750px) {
  nav > ul {
    gap: 0px;
  }
}
