@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: #5e5873;
  max-height: 100vh;
}

button,
a {
  cursor: pointer;
}

a {
  color: #7367f0;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media (max-width: 768px) {
  body {
    align-items: start;
    display: flex;
  }
}
